services:
  duplicati-app:
    image: lscr.io/linuxserver/duplicati:latest
    container_name: duplicati-app
    hostname: duplicati-app
      #user: ${PUID}:${PGID}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - SETTINGS_ENCRYPTION_KEY=${SETTINGS_ENCRYPTION_KEY}
      - DUPLICATI__WEBSERVICE_PASSWORD=${DUPLICATI__WEBSERVICE_PASSWORD}
    volumes:
      - duplicati-data:/data
      - ${DESTINO_DIR}:/backups
      - ${SOURCE_DIR}:/volumes:ro
    ports:
      - 8200:8200
    restart: unless-stopped

volumes:
  duplicati-data:
