services:
  duplicati-app:
    image: lscr.io/linuxserver/duplicati:latest
    container_name: duplicati-app
    hostname: duplicati-app
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - SETTINGS_ENCRYPTION_KEY=${SETTINGS_ENCRYPTION_KEY}
      - DUPLICATI__WEBSERVICE_PASSWORD=${DUPLICATI__WEBSERVICE_PASSWORD}
    volumes:
      - ${SOURCE_DIR}/duplicati:/config
      - ${DESTINO_DIR}:/backups
      - ${SOURCE_DIR}:/volumes
    ports:
      - 8200:8200
    restart: unless-stopped
